#chart {
  height: 335px;
}

// Keyframes for rotation animation
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Loading icon style
.loadingIcon {
  -webkit-mask-image: url("../images/spinner.svg");
  mask-image: url("../images/spinner.svg");
  background-color: var(--textColor);
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 32px;
  width: 32px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.custom-tooltip {
  // Target the span added by Highcharts
  span {
    // Directly target the divs instead of relying on structural pseudo-classes
    > div {
      // The outermost div wrapping your custom content
      font-size: 14px;
      padding: 6px;

      > div:first-child {
        // "Node Type" title
        margin-bottom: 12px;
        font-weight: bold;
      }

      > div:nth-child(2) {
        // The div wrapping the indicator bar and text content
        position: relative;

        > div:first-child {
          // Indicator bar
          height: 36px;
          width: 3px;
          position: absolute;
          top: 0;
          left: 0;
        }

        > div:nth-child(2) {
          // The text content wrapper
          padding-left: 16px; // Adjust the padding to match the design

          > div:first-child {
            // Date
            margin-bottom: 4px; // Spacing between date and active count
            color: var(--iconColor);
          }

          > div:nth-child(2) {
            // Active count
            span {
              // The actual active count
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
